.work {
  background-color: rosybrown;
  /* height: 100vh; */
  color: wheat;
  /* width: 200px; */
}

.card-component {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}

.imagini-proiect {
  width: 50px;
}
