.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

p {
  font-size: 2em;
  font-weight: bold;
}

.skillbar-percent {
  color: black !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.skillbar-title {
  font-size: 16px !important;
}

.skillbar {
  background-color: #cffdbc !important;
}
