.bg {
  background-image: url("../../assets/Aerial-view-of-Bucharest.jpg");
  background-attachment: fixed;
  /* Center and scale the image nicely */
  background-position: top;

  background-repeat: no-repeat;
  background-size: cover;
}

.layer {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

p {
  margin: 0;
  padding-top: 20px;
}

.shoucase {
  opacity: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nume {
  color: white;
  font-size: 100px;
  font-weight: 900;
}

/* .nume span {
  color: #fffb01;
} */

.descriere {
  color: white;
  font-size: 1.5em;
  display: flex;
}

.icons {
  display: flex;
  height: 10%;
  width: 40%;
  justify-content: space-between;
}

.icons a {
  text-decoration: none;
  color: white;
}

.ceva {
  margin: 0;
  padding: 0;
}

.ceva {
  font-size: 1.5em;
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
  /* align-self: flex-start; */
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .nume {
    font-size: 50px;
  }

  .icons {
    width: 50%;
    padding-top: 10px;
  }

  .icons a {
    font-size: 10px;
  }

  .descriere {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }

  .ceva {
    display: none;
  }
}
