
.contactMesaj {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
  background: #FECACC;
}

.desc {
  background: rgb(180, 180, 180);
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
  flex-direction: column;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.buttonSubmit {
  background: grey;
  width: 100px;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
}

.h1 {
  font-weight: bold;
  
}

.p {
  font-size: 20px;
}

.inputWork {
  margin-top: 10px;
}
