.bg {
  background-image: url("../../assets/Aerial-view-of-Bucharest.jpg");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shoucase {
  height: 100vh;
}
